<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sobre.css">
    <link rel="icon" href="icons/logo-hackathon.jpg">
    <title>Sobre Nós</title>
</head>
<body>
<!--HEADER-->
<section id="header">
    <a href="index.html"><img src="icons/logo-hackathon.png" alt="Logo do Hackathon" height="130px"></a>
    <nav>
        <a href="index.html" class="link-topo">INÍCIO</a>
        <!--<a href="sobre.html" class="link-topo">SOBRE</a>-->
        <a href="#left-section" class="link-topo">CONTATO</a>
        <a href="contato.html" class="link-topo"><img id="ajuda" src="icons/ajuda.png" alt="Ajuda"></a>
    </nav>
</section>

<!--CORPO-->
    <h1 id="title-sobre">SOBRE NÓS</h1>
    <a href="links/link-card03.jpeg"><div id="sobre-foto"><img id="sobre-img" src="links/link-card03.jpeg" alt="Nossa Foto"></div></a>
    <div id="sobre-desc"><p>
        Lorem ipsum dolor sit amet,
        Consectetur adipiscing elit.
        Pellentesque dapibus justo vitae velit finibus,
        Ut finibus purus accumsan et.
        Nulla facilisi.
        Vivamus aliquet ligula at gravida varius.
        Phasellus at enim id dui venenatis tempus.
        Mauris quis velit sollicitudin, ultrices dolor sed,
        Dignissim nulla.
        Cras id ipsum consequat,
        Vestibulum venenatis libero.
        Sed eu metus dapibus, consectetur enim eget,
        Lacinia est.
        Quisque condimentum mi et odio congue,
        Fringilla semper augue commodo.
        Praesent consequat est vitae lacus blandit,
        Pellentesque.
        Lorem ipsum dolor sit amet,
        Consectetur adipiscing elit.
        Pellentesque dapibus justo vitae velit finibus,
        Ut finibus purus accumsan et.
        Nulla facilisi.
        Vivamus aliquet ligula at gravida varius.
        Phasellus at enim id dui venenatis tempus.
        Mauris quis velit sollicitudin, ultrices dolor sed,
        Dignissim nulla.
        Cras id ipsum consequat,
        Vestibulum venenatis libero.
        Sed eu metus dapibus, consectetur enim eget,
        Lacinia est.
        Quisque condimentum mi et odio congue,
        Fringilla semper augue commodo.
        Praesent consequat est vitae lacus blandit,
        Pellentesque.
        Lorem ipsum dolor sit amet,
        Consectetur adipiscing elit.
        Pellentesque dapibus justo vitae velit finibus,
        Ut finibus purus accumsan et.
        Nulla facilisi.
        Vivamus aliquet ligula at gravida varius.
        Phasellus at enim id dui venenatis tempus.
        Mauris quis velit sollicitudin, ultrices dolor sed,
        Dignissim nulla.
        Cras id ipsum consequat,
        Vestibulum venenatis libero.
        Sed eu metus dapibus, consectetur enim eget,
        Lacinia est.
        Quisque condimentum mi et odio congue,
        Fringilla semper augue commodo.
        Praesent consequat est vitae lacus blandit,
        Pellentesque.
        Lorem ipsum dolor sit amet,
        Consectetur adipiscing elit.
        Pellentesque dapibus justo vitae velit finibus,
        Ut finibus purus accumsan et.
        Nulla facilisi.
        Vivamus aliquet ligula at gravida varius.
        Phasellus at enim id dui venenatis tempus.
        Mauris quis velit sollicitudin, ultrices dolor sed,
        Dignissim nulla.
        Cras id ipsum consequat,
        Vestibulum venenatis libero.
        Sed eu metus dapibus, consectetur enim eget,
        Lacinia est.
        Quisque condimentum mi et odio congue,
        Fringilla semper augue commodo.
        Praesent consequat est vitae lacus blandit,
        Pellentesque.
    </p>
</div>


<!--RODAPÉ-->
<footer>
    <div class="left-section" id="left-section">
        <h2 class="rodape01-text">TELEFONE:</h2> <h3 class="rodape01-subtext">+55 87 99999-9999</h3>
        <h2 class="rodape01-text">E-MAIL:</h2> <h3 class="rodape01-subtext">hackathon@mercosul.com</h3>
        <h2 class="rodape01-text">ENDEREÇO:</h2> <h3 class="rodape01-subtext">Rua Brasil Paraguai Uruguai Argentina, Nº 2023</h3>
    </div>
    <div class="center-section">
      <a href="index.html"><img id="rodape01-logo" src="icons/logo-hackathon.png" alt="Logo do Hackathon"></a>
    </div>
    <div class="right-section">
      <p id="rodape01-inc">Desenvolvido por Emanoel V. Rocha</p>
    </div>
  </footer>


<!--RODAPÉ FINAL-->
<p id="copyright">Todos os direitos reservados &copy; 2023</p>
<a id="seta-topo" href="#header"><img id="seta-para-cima" src="icons/seta-para-cima.png" alt="Seta"></a>
</body>
</html>
