@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.link-topo {
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-right: 20px;
    transition: 0.3s ease;
}

.link-topo:hover {
    font-size: 22px;
    color: rgb(0, 98, 255);
}

#ajuda {
    position: center;
    height: 30px;
    transition: 0.3s ease;
}

#ajuda:hover {
    position: center;
    height: 35px;
}

nav {
    display: flex;
}

#banner {
    margin-top: 20px;
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    border: 1px solid rgb(0, 98, 255);
    box-shadow: 0px 3px 10px rgb(95, 95, 95);
    border-radius: 15px;
}

#banner-title {
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 50px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

#banner-desc {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    line-height: 1.5;
}

#news {
    padding: 0px;
    margin: 0px;
}

.container {
    height: 75vh;  
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

#title-news {
    color: rgb(0, 98, 255);
    font-size: 50px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    margin-top: 100px;  
}

.border {
    height: 500px;
    width: 350px;
    background: transparent;
    border-radius: 15px;
}

.card {
    height: 600px;
    width: 500px;
    border-radius: 15px;
    overflow: hidden;
    background: black;
    box-shadow: 0px 3px 10px rgb(95, 95, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.card01 {
    background: url(img/card01.jpg) center center no-repeat;
    background-size: 700px;
    background-position: left;
    filter: grayscale(60%);
    transition: 0.5s ease;
}

.card02 {
    background: url(img/card02.jpg) center center no-repeat;
    background-size: 700px;
    background-position: left;
    filter: grayscale(60%);
    transition: 0.5s ease;
}

.card03 {
    background: url(img/card03.jpg) center center no-repeat;
    background-size: 700px;
    background-position: left;
    filter: grayscale(60%);
    transition: 0.5s ease;
}

.card04 {
    background: url(img/card04.jpg) center center no-repeat;
    background-size: 700px;
    background-position: left;
    filter: grayscale(60%);
    transition: 0.5s ease;
}

.card05 {
    background: url(img/card05.jpg) center center no-repeat;
    background-size: 700px;
    background-position: left;
    filter: grayscale(60%);
    transition: 0.5s ease;
}

.card06 {
    background: url(img/card06.jpg) center center no-repeat;
    background-size: 700px;
    background-position: left;
    filter: grayscale(60%);
    transition: 0.5s ease;
}

.a {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    text-shadow: 0px 3px 10px rgb(0, 0, 0);
    transition: 0.5s ease;
}

.g {
    line-height: 1.5;
    padding: 15px;
    color: white;
    font-size: 25px;
    text-shadow: 0px 3px 10px rgb(0, 0, 0);
    transition: 0.5s ease;
}

.card:hover {
    filter: grayscale(0%);
    background-size: 601px;
    background-position: center;
}

button {
    width: 200px;
    height: 50px;
    background-color: white;
    color: #000000;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

button:hover {
    box-shadow: 0px 3px 10px rgb(65, 65, 65);
    width: 250px;
    color: white;
    background-color: rgb(0, 98, 255);
}

.button-final {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#button-final {
    font-weight: 700;
    width: 300px;
    height: 50px;
    border: 2px solid rgb(0, 98, 255);
    color: rgb(0, 98, 255);
    background-color: rgb(255, 255, 255);
    margin-bottom: 70px;
}

#button-final:hover {
    box-shadow: 0px 3px 10px rgb(175, 175, 175);
    width: 350px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 98, 255);
}

.rodape01-text {
    margin: 5px;
    font-size: 20px;
    color: rgb(0, 98, 255);
}

.rodape01-subtext {
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
}

#copyright {
    display: flex;
    justify-content: center;
}

#seta-topo {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 98, 255);
    border-radius: 50px;
    padding: 15px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: 0.3s ease;
}

#seta-topo:hover {
    background-color:  rgb(0, 83, 215);
    box-shadow: 3px 3px 10px rgb(170, 170, 170);
}

#seta-para-cima {
    height: 40px;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.left-section, .right-section {
    flex-basis: 30%;
}
  
.center-section {
    flex-basis: 40%;
    display: flex;
    justify-content: center;
}
  
#rodape01-logo {
    height: 150px;
}

#rodape01-inc {
    display: flex;
    justify-content: end;
}
    
@media screen and (max-width: 1650px) {
    .card01, .card02, .card03, .card04, .card05, .card06 {
        height: 500px;
        width: 400px;
        padding: 20px;
        background-size: 500px;
    }
    
 }
